body {
  color: white;
  background: linear-gradient(to right, teal, rgb(3, 60, 75));
}

.container {
  width: 1000px;
  background-color: rgb(62, 160, 160);
  padding: 10px;
  border-radius: 10px;
  margin-top: 50px;
  color: black;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: black;
}

.registration{
  margin-top: 30px;
  margin-bottom: 30px;
}

.login{
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: white;
}

#themeBtn{
  margin: 10px;
}

.dark-mode .card{
  background-color: rgb(39, 39, 39);
}

.dark-mode label{
  color: white;
}

.dark-mode .container {
  color: white;
  background-color: rgb(3, 60, 75);
}

.dark-mode{
  background: linear-gradient(to right, rgb(3, 60, 75), black);
}

.dark-mode h2 {
  color: white;
}

@media screen and (max-width: 920px){
  .container{
    width: 100%;
  }
}